node_modules
.env
.DS_Store


bootstrap-gradle.js
build-mobile.js
build-web.js
check-env.js
client-config.js
deploy-github.js
firebase-config.js
gbuild.js

google-services.json
service-account.json

mobile-app